.item{
    box-shadow: inset 0 1px 2px #e4e4e4;
    /*width: 20%;*/
    width: 100px;
    height: 100%;
    float: left;
    position: relative;
}

.topic{
    overflow: hidden;
    height: 33.333%;
    width: 100%
}

.visit{
    display: none;
}

#wrap{
    height: 100%
}

#title{
    height: 10%;
    width: 100%;
}

#content{
    height: 90%;
    width: 100%;
}

.item img {
    display: block;
    width: 100%;
    height: auto;
}

.snap_title{
    background-color: lightgoldenrodyellow;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 50%
}

    .container {
      width: 100%;
      height: 100%;
      position: relative;
      perspective: 800px;
    }
    .card {
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      transition: transform 1.5s;
        transform-origin: right center;
    }
    .card figure {
      margin: 0;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
    .card .back {
      transform: rotateY( 180deg );
    }
    .card.flipped {
      transform: translateX( -100% ) rotateY( -180deg );
    }
    .fliper{
        left:-webkit-calc(100% - 60px);
        left:-moz-calc(100% - 60px);
        left:calc(100% - 60px);
        top: 0;
        position: absolute;
    }
    .wrap{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
    height: 100px;
}
.ui-autocomplete-loading {
    background: white url("http://jqueryui.com/resources/demos/autocomplete/images/ui-anim_basic_16x16.gif") right center no-repeat;
}

.content{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.title{
    background-color: white;
    opacity: 0.6;
    position: absolute;
    top: 0%;
    left: 0%
}
